<% include top %>
<h1>aannana</h1>
<%
    if(notes) {
        for(var note of notes) {
            %><p><%= note.key %>: 
                <a href="/noteview?key=<%= note.key %>"><%= note.title %></a>
            </p><%
        }
    }
%>
<% include bottom %>
