<% include top %>
<div id='notetitles'>

<%
    if(notes) {
        for(var note of notes) {
            %><p><%= note.key %>: 
                <a href="/noteview?key=<%= note.key %>"><%= note.title %></a>
            </p><%
        }
    }
%>
</div>
 
<script>
    $(document).ready(function() { 
        var getnotetitles = function() { 
            socket.emit('notetitles', function(notes) { 
                $('#notetitles').empty();
                for(var i in notes) {
                    var str = '<p>' + notes[i].key + ': <a href="noteview?key=' + notes[i].key + '">' + notes[i].title + '</a>' + '</p>';
                    $('#notetitles').append(str);
                }
            });
        }
  
        socket.on('noteupdated', getnotetitles);
        socket.on('notedeleted', getnotetitles);
    });
</script>
<% include bottom %>
